.modal-crow-pdf {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .9);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9000
}

.canvas-crow-pdf {
    position: relative;
    height:calc(100vh - 100px);
    width: calc(100% - 50px);
    max-width: 1024px;
    border:1rem solid rgba(0,0,0,.1);
}


.modal__boton-crow-pdf {
    background-image: url(imagenes/eliminar.png);
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.precarga-crow-pdf {
    background: transparent url(imagenes/update.gif) center no-repeat;
}

